.board{
    height: 130px;
    width: 200px;
    margin: auto;
     margin-top: 50px; 
}
table,
th,
td {
 border: 1px solid black;
}

td {
 width: 50px;
 height: 15px;
 text-align: center;
}
.hide {
    display: none;
  }
  .again{
    cursor: pointer;
  } 
  .btn{
    cursor: pointer;
    margin: auto;
  }
  .modal {
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px;
    width: 300px;
    transform: translate(-50%, -50%);
  }
  .victory{
    display: none;
  }
  body{
    background-color: bisque;
  }
  h1{
    text-align: center;
}
p{
    margin-top: 900px;
}
.btn-dif{
  margin-left:830px;
  
}
button{
  margin-left: 20px;
  background-color:blue;
  color: aliceblue;
}
h2{
  text-align: center;
}
.gameOver{
  background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px;
    width: 300px;
    transform: translate(-50%, -50%);
    display: none;
}